DJANGO_ENV=
DEBUG=

# Other config
SECRET_KEY=
ALLOWED_HOSTS_PROD=

# Database config
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# CORS
CORS_ALLOWED_ORIGINS_PROD=

# Rate limiting
THROTTLE_ANON_RATE=
THROTTLE_USER_RATE=

# Supabase config
Supabase_Project_URL=
SUPABASE_API_KEY=